/* CheckboxDropdown.jsx */
.form {
    width: 300px;
    margin: 1rem;
}

.chipsBox {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

}




.filterHeader {
    font-weight: 400;
}
/* DropdownSection.jsx */

.outerContainer {
    margin: 50px 0;
}

.selectSection {
    text-align: center;
}


/* FilterArea.jsx */

.dropdownSectionOuterContainer {
    margin-bottom: 100px;
}

/* FilteredProgramBoxes.jsx */

.programBoxLeft {
    float: right;
}

.programBoxRight {
    float: left;
}


/* ProgramAccordion.jsx */
/*TODO REMOVE*/
.programAccordionContainer {
    margin: 55px 0;
    position: sticky;
    top: 30px;
    border-radius: 10px;
}
/*TODO REMOVE*/
.accordionHeading {
    margin: auto;
}

.programInfoBoxPaper {
    margin: 10px;
    background-color: #CFE3F9;
    max-width: 400px;
    padding: 20px;
}

.description {
    font-size: 16px;
}

.button {
    font-family: 'Domine', sans-serif !important;
    text-transform: none !important;
    font-size: 16px;
}

.typeAndLength {
    color: #004c98;
    font-size: 22px;
}