/* CheckboxDropdown.jsx */
@import url('../fonts.css');

.form {
    /* margin: 1rem; */
    float: left;
}



.chipsBox {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

}

.chip {
    background-color: #dbebff !important;
    color: #004c98 !important;

    font-family: Outfit, sans-serif !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    border-radius: 25px !important;
    padding: 10px !important;
}

.chipCloseButton {
    color: #004c98 !important;
    width: 13px;
    height: 13px;
    transition: transform 0.3s ease;
}
.chipCloseButton:hover {
    transform: scale(1.2);
}


.filterHeader {
    font-weight: 400;
    padding-bottom: 10px;
}
/* DropdownSection.jsx */

.outerContainer {
    margin: 50px 0;
    justify-content: flex-start;
}


/* FilterArea.jsx */

.dropdownSectionOuterContainer {
    margin-bottom: 100px;
}

/* FilteredProgramBoxes.jsx */

.boxContainer {
    justify-content: space-between;
}

.programBox {
    margin: 30px 0 !important;
}





/* ProgramAccordion.jsx */
/*TODO REMOVE*/
.programAccordionContainer {
    margin: 55px 0;
    position: sticky;
    top: 30px;
    border-radius: 10px;
}
/*TODO REMOVE*/
.accordionHeading {
    margin: auto;
}

.programInfoBoxPaper {
    padding: 30px 40px 30px;
    min-height: 430px;
    border: solid;
    border-color: #dedede;
    border-radius: 7px !important;
    border-width: 3px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.description {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;    
    overflow: hidden;
    align-self: flex-end;
}
.longDescription {

    -webkit-line-clamp: 5 !important;

}

.button {
    font-family: 'Domine', sans-serif !important;
    text-transform: none !important;
    font-size: 16px !important;
}
.programTitle {
    margin: 10 0;
    white-space: normal;
    font-size: 22px;
}

.programTitleLong {
    margin: 10 0;
    white-space: normal;
    font-size: 22px;
}
.typeAndLength {
    color: #004c98;
    text-align:right;
    margin: 10 0;
    font-size: 22px;
}
.typeAndLengthLong {
    text-align:left !important;
    margin: 0 0 0;
}
.noMargin {
    margin: 0;
}

