/* AddProgramButton.jsx */

.addProgramText {
    position: relative;
    top: -100px;
}

.addProgramIcon {
    position: relative;
    top: -80px;
    height: 60px;
}

.containerContent {
    width: 100%;
}

/* CompareAccordion.jsx */

.compareAccordionContainer {
    border-radius: 10px;
    padding: 15px 35px;
    max-height: 600px;
    border: 2px solid var(--grey-300);
}

.headingContainer {
    align-items: center;
}

.headingRight{
    text-align: end;
    color: var(--text-accent);
    padding-bottom: 12px;
}

.closeButton {
    position: absolute !important;
    top: 10px;
    left: 22px;
    padding: 0px !important;

}

.closeButton:hover {
    background: none !important;
    scale: 1.08;
    transition: all 0.3s ease;
   
}


.accordionBox {
    overflow: auto;
    max-height: 500px;
}

/* CompareInfoContainer.jsx */

.outerContainer {
    justify-content: space-between;
}

.programBox{
    height: 600px;
    margin: 30px 0 !important;
}


/* CompareProgramInfoBox.jsx */

.compareProgramInfoBoxPaper {
    padding: 15px 25px;
    height: 560px;
    overflow: auto;
    position: relative;
    border: 2px solid var(--grey-300);
}

.showMoreBtn{
    padding: 0 !important;
    font-family: var(--text-paragraph) !important;
    text-transform: none !important;
}

.showMoreBtn:hover{
    background: none !important;
}

/* GenerateCompareAccordion.jsx */

.topProgramTitle{
    padding: 0 !important;
    height: 20px !important;
}

.arrowIcon{
    font-size: 2rem;
    color: var(--heading-decoration);
}

.programName{
    font-family: var(--text) !important;
    font-size: 18px !important;
}

.listItemButton {
    border-radius: 5px;
    padding: 0 0 0 23px !important;
}

.listItemText{
    font-family: var(--text) !important;

}




@media screen and (max-width: 479px) {

    /* CompareAccordion.jsx */
    .compareAccordionContainer {
        padding: 0px 20px;
    }

    .closeButton {
        top: 10px;
        left: 17px;
    }    

    /* CompareInfoContainer.jsx */
    .outerContainer {
        height: 600px;
        padding: 0 0 20px 0;
        justify-content: center;
    }


    /* CompareProgramInfoBox.jsx */
    .compareProgramInfoBoxPaper {
        padding: 15px 20px;
    }
}
