.circle {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    color: white;
    background-color: #00459A;
    font-size: 30px;
    margin: auto;
}